<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
            <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet">
            <link rel='stylesheet' href='/css/bootstrap.min.css' />
            <link rel='stylesheet' href='/css/style.css' />
            <title>Fil d'actualité d'image</title>
        </head>
        <body>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/users/connexion">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/inscription">register</a>
                <li class="nav-item">

                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/detail">Share</a>
                </li>
                <% if (userID.length > 0) { %>
                <li class="nav-item">
                    <a class="nav-link" href=" <%=` /users/profil/${userID}` %>">Profil</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/places">Lieux</a>
                </li>
            </ul>
                <h1>Bienvenue sur le fil d'actualité</h1>
                <<img src="./img/paris" alt="">

                <form enctype="multipart/form-data" action="/places/creation" method="post">
                    <input type="text" name="title">
                    <textarea name="description"></textarea>

                    <input type="file" name="picture" class="form-control-file" id="exampleFormControlFile1">
                    <input type="submit">
                </form>

            </body>
            </html>
